@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

* {
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: #bf3c3b;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

p {
    color: #ffffffcf;
    line-height: 1.6;
    font-size: 18px;
    text-align: center;
}

a {
    color: darkgrey;
    font-size: 18px;
}

a:hover {
    color: #bf3c3b;
}

mjx-container {
    outline: none;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    width: 60%;
}

@media (max-width: 600px) {
    header p {
        width: 100%;
    }
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin: 0 auto;
}

#container img {
    width: 80%;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}